* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 76, 100);
}

.main {
    border: 1px solid white;
    margin: 20px auto;
    width: 600px;
    height: 602px;
}

.main div {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}

#red {
    background-color: red;
    animation: red;
    position: relative; /*top-right-bottom-left*/
    animation: red;
    animation-duration: 3s;
}

@keyframes red {
    0% {top: -250px;}
    100% {top: 0;}
}


#yellow {
    background-color: yellow; 
    animation: yellow;  
    position: relative; /*top-right-bottom-left*/
    animation: yellow;
    animation-duration: 6s;
}

@keyframes yellow {
    0% {left: -1000px;}
    90% {left: 50px}
    100% {left: 0;}
}

#green {
    background-color: green;
    animation: green;
    position: relative; /*top-right-bottom-left*/
    animation: green;
    animation-duration: 7s;
}

@keyframes green {
    0% {bottom: -1000px;}
    100% {bottom: 0;}
}
    
    

/*HINT -   transform: rotateY(0deg);*/